.DSStore/*
Quick\ Maths/Pods/*
server/node_modules/*
Quick\ Maths/Quick\ Maths.xcworkspace/*
client/node_modules/*
server/package-lock.json
client/package-lock.json
server/yarn-lock.json
client/yarn-lock.json